@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
$font-stack: 'Dosis', monospace;
$primary-color: #333;
$bg-color-light: #dae2f8;
$bg-color-dark: #d6a4a4;
$black: #000;
$white: #fff;
$dark-white: #cccccc;
$red: #de1602;
$glasmorphism: rgba(256, 256, 256, 0.4);
$disabled: #d3d3d3;
$box-shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-dark: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  margin: 0;
  height: 100%;
  text-transform: capitalize;
}

.pokedex {
  padding-top: 25px;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to right, $bg-color-light, $bg-color-dark);
  .col {
    display: flex;
    justify-content: space-around;
    .card {
      width: '200px';
      border: none;
      margin-bottom: 25px;
      box-shadow: $box-shadow-light;
      &:hover {
        box-shadow: $box-shadow-dark;
      }
      img {
        width: 215px;
      }
      .card-body {
        text-align: center;
      }
    }
    a {
      text-decoration: none;
      color: $black;
      &:hover {
        color: $black;
      }
    }
  }
  .scrollTop {
    position: fixed;
    font-size: 60px;
    right: 20px;
    bottom: 20px;
    align-items: flex-end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.5s;
    transition: opacity 0.4s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.pokemon {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  position: relative;
  .details {
    max-width: 750px;
    margin: 0 auto;
    .details--header {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    .details--type {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: -20px;
      .list-group-item {
        border-radius: 15px;
        border: none;
        width: 100px;
        margin: 5px 15px 0 0;
        background-color: $glasmorphism;
      }
    }
    .details--img {
      max-width: 350px;
      margin: 0 auto;
      z-index: 1;
    }
    .box {
      background-color: $white;
      min-height: 450px;
      margin: -80px 0 20px;
      border-radius: 20px;
      .nav {
        margin: 35px 0 10px;
        position: relative;
        z-index: 2;
      }
      .nav-link {
        color: $black;
        background-color: transparent;
        z-index: 20;
        &.disabled {
          color: $disabled;
        }
        &.active {
          font-weight: bold;
        }
      }
      .nav-link:hover {
        color: $black;
      }
      .box--moves {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .list-group-item {
        border: none;
        background-color: none;
      }
      .box--evolutions {
        min-height: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .list-group-item a {
          display: flex;
          flex-direction: column;
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          color: $black;
        }
        .isEevee {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
    .btn {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      position: absolute;
      right: -35px;
      top: 290px;
      z-index: 50;
      transform: rotate(20deg);
      box-shadow: $box-shadow-light;
    }
    @media screen and (max-width: 860px) {
      .btn {
        right: 5px;
      }
    }
    @media screen and (max-width: 480px) {
      .btn {
        right: 5px;
        top: 50px;
      }
    }

    .btn:hover {
      background-image: linear-gradient(
        180deg,
        $red 50px,
        $black 50px,
        $black 60px,
        $white 1px
      );
    }
    .btn span {
      font-size: 16px;
    }
    .btn:hover span {
      color: transparent;
    }
    .btn:hover::before {
      content: '';
      height: 30px;
      width: 30px;
      position: absolute;
      top: 45px;
      left: 45px;
      border-radius: 50%;
      border: solid 4px $white;
      background-color: $dark-white;
      box-shadow: 0px 0px 0px 4px;
    }
  }
}
