@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', monospace;
  margin: 0;
  height: 100%;
}

.pokedex {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #544a7d, #ffd452);
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  width: '200px';
  border: none;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

a:hover {
  color: black;
}

.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
