@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', monospace;
  margin: 0;
  height: 100%;
  text-transform: capitalize;
}

.pokedex {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #dae2f8, #d6a4a4);
}

.pokedex .col {
  display: flex;
  justify-content: center;
}

.pokedex .card {
  width: '200px';
  border: none;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pokedex .card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pokedex .card-body {
  text-align: center;
}

.pokedex a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.pokemon {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.pokemon .details {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}

.pokemon .header {
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
}

.pokemon .type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: -20px;
}

.type .list-group-item {
  border-radius: 15px;
  border: none;
  width: 100px;
  margin: 5px 15px 0 0;
  background-color: rgba(256, 256, 256, 0.4);
}

.rounded-circle {
  max-width: 350px;
  margin: 0 auto;
  z-index: 10;
}

.box {
  background-color: white;
  min-height: 450px;
  margin: -80px 0 20px;
  border-radius: 20px;
}

.nav {
  margin: 30px 0 10px;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #000;
}

.nav-link.active {
  color: #000 !important;
  font-weight: bold;
}

.moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab-content .list-group-item {
  border: none;
  background-color: none;
}

.btn {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  right: -35px;
  top: 290px;
  z-index: 50;
  transform: rotate(20deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-dark:hover {
  background-color: #e3350d;
  border-color: #e3350d;
}

/* BACKGROUDCOLOR */

.rock {
  background-color: #a38c21;
}
.ghost {
  background-color: #7b62a3;
}
.electric {
  background-color: #eed535;
}
.bug {
  background-color: #729f3f;
}
.poison {
  background-color: #b97fc9;
}
.normal {
  background-color: #a4acaf;
}
.fairy {
  background-color: #fdb9e9;
}
.fire {
  background-color: #fd7d24;
}
.grass {
  background-color: #9bcc50;
}
.water {
  background-color: #4592c4;
}
.dragon {
  background-image: linear-gradient(#53a4cf 50%, #f16e57 50%);
}
.psychic {
  background-color: #f366b9;
}
.flying {
  background-image: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
}
.fighting {
  background-color: #d56723;
}
.ground {
  background-image: linear-gradient(#ab9842 50%, #f7de3f 50%);
}
.steel {
  background-color: #9eb7b8;
}
.dark {
  background-color: #707070;
}
.ice {
  background-color: #51c4e7;
}
